.Bilgilerim {
    max-height: 90px;
}

#bilgilerim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 20px;
}

#cv-yukle {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 20px;
}
.container{
    border-color: black;
    border-radius: 500px;
}
.yazilar{
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}
.carousel-inner {
    height: 600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}